/* Local Fonts */
@import "./fontiranNumerals.css";
@import "./fontiranWeb.css";

:root {
  --border-primary-color: rgba(63, 80, 181, 0.5);
}

html {
  scroll-behavior: smooth;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  position: fixed !important;
  right: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar-track {
  background: inherit;
}

legend {
  z-index: 9999;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranyekan !important;
}

.nav-btn-dark a {
  color: #3f50b5 !important;
}
.nav-btn-dark:hover {
  background: #112147 !important;
}

.nav-btn-light a {
  color: #002884 !important;
}

.active-nav-dark {
  background: #112147 !important;
}
.active-nav-light {
  background: #b8c2fb !important;
}

.nav-btn-exit:hover {
  background: #f4433622;
}
